@font-face {
   font-family: 'Lato-BoldItalic';
   font-display: swap;
   src: url('Lato-BoldItalic/font.ttf');
}
@font-face {
   font-family: 'Lato-Bold';
   font-display: swap;
   src: url('Lato-Bold/font.ttf');
}
