@font-face {
   font-family: 'Lato-BoldItalic';
   font-display: swap;
   src: url('file:///C:/Users/Avizz/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-11-24_184631/fonts/Lato-BoldItalic/font.ttf');
}
